[Unit]
Description=Coder Agent
After=network-online.target run-docker.sock.mount
Wants=network-online.target
Requires=run-docker.sock.mount
ConditionPathExists=/etc/coder/agent-init.sh

[Service]
Type=simple
User=coder
Group=coder
WorkingDirectory=/home/coder
EnvironmentFile=/etc/environment
PassEnvironment=CODER_AGENT_TOKEN
ExecStart=/bin/bash /etc/coder/agent-init.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
